<launch>
  <node pkg="uav_vision" type="drop_aligner.py"
        name="drop_aligner_freshness_under_test" output="screen">
    <param name="default_mode" value="drop_circle" />
    <param name="use_camera_info" value="false" />
    <param name="target_center_x" value="320.0" />
    <param name="target_center_y" value="240.0" />
    <param name="max_offset_px" value="30.0" />
    <param name="stable_frames" value="3" />
    <param name="target_max_age" value="0.5" />
  </node>

  <node pkg="uav_vision" type="drop_aligner_freshness_assertion.py"
        name="drop_aligner_freshness_assertion" output="screen" required="true" />
</launch>
