<?xml version='1.0' encoding='utf-8'?>
<launch>
  <arg name="enable_control_output" default="false" />
  <arg name="mapping_profile" default="low" />
  <arg name="start_mapping" default="false" />
  <arg name="alignment_mode" default="legacy_static" />
  <arg name="map_frame" default="camera_init" />
  <arg name="body_to_imu_xyz" default="0 0 0.05" />
  <arg name="imu_to_camera_z" default="-0.21" />
  <arg name="camera_quat_xyzw" default="0 1 0 0" />
  <arg name="camera_optical_frame" default="downward_camera_optical_frame" />
  <arg name="lio_config" default="$(find uav_mission)/config/mid360_hardware.yaml" />
  <arg name="lio_omp_places" default="{4},{5},{6},{7}" />
  <rosparam file="$(arg lio_config)" />
  <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen">
    <env name="OMP_WAIT_POLICY" value="PASSIVE" />
    <env name="OMP_PROC_BIND" value="close" />
    <env name="OMP_PLACES" value="$(arg lio_omp_places)" />
  </node>
  <rosparam file="$(find uav_board_trials)/config/board_load.yaml" />
  <!-- Hardware supervisor starts mapping only after measured FC/LIO agreement.
       The existing SITL entry explicitly opts into its simultaneous startup. -->
  <include if="$(arg start_mapping)" file="$(find uav_board_trials)/launch/mapping.launch">
    <arg name="mapping_profile" value="$(arg mapping_profile)" />
    <arg name="map_frame" value="$(arg map_frame)" />
  </include>
  <node pkg="uav_mission" type="lio_external_pose.py" name="lio_external_pose" output="screen">
    <param name="frame" value="$(arg map_frame)" />
    <rosparam param="imu_to_body_xyz" subst_value="true">$(eval [-float(v) for v in arg('body_to_imu_xyz').split()])</rosparam>
  </node>
  <node pkg="uav_mission" type="map_camera_alignment.py" name="map_camera_alignment" output="screen" unless="$(eval arg('alignment_mode') == 'legacy_static')">
    <param name="parent_frame" value="$(arg map_frame)" />
    <param name="child_frame" value="map" />
    <param name="lio_frame" value="$(arg map_frame)" />
    <param name="mavros_frame" value="map" />
    <param name="require_disarmed_for_initialization" value="true" />
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_camera_alignment" if="$(eval arg('alignment_mode') == 'legacy_static')" args="0 0 0 0 0 0 1 map $(arg map_frame)" />
  <node pkg="uav_mission" type="navigation_frame_adapter.py" name="navigation_frame_adapter" output="screen" required="true">
    <param name="local_frame" value="map" />
    <param name="mission_frame" value="$(arg map_frame)" />
    <param name="enable_setpoints" value="$(arg enable_control_output)" />
  </node>
  <node pkg="uav_mission" type="pose_tf_broadcaster.py" name="vision_pose_tf" output="screen">
    <param name="pose_topic" value="/mavros/local_position/pose" />
    <param name="parent_frame" value="map" />
    <param name="child_frame" value="vision_body" />
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="mapping_imu_extrinsic" args="$(arg body_to_imu_xyz) 0 0 0 1 vision_body mapping_imu" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="downward_camera_extrinsic" args="0 0 $(arg imu_to_camera_z) $(arg camera_quat_xyzw) mapping_imu $(arg camera_optical_frame)" />
</launch>