<launch>
    <!-- 从tf转到odom -->
    <node name="tf_to_odometry_node" pkg="topic_tf_tran" type="tf2topic" output="screen">
        
        <!-- 传入参数 -->
        <param name="map_frame_id_" value="map" />
        <param name="base_link_frame_id_" value="base_link_car" />

        <!-- 输出参数 -->
        <param name="use_odometry" value="false"/>
        <param name="pose_pub_topic" value="/my_pose"/>
        <param name="odom_pub_topic" value="/car/local_position/odom" />
    </node>
</launch>
